{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "semi": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off"
  }
}
